.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-color);
  padding-bottom: 10px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(216, 211, 211);
}

.post__headerText > h2 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
  color: rgb(230, 226, 226);
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 15px;
  color: rgb(176, 174, 174);
}

.post__avatar {
  padding: 20px;
}
